
<edz-secret-text [defualtText]="'点击显示手机号1'" [text]="text" (onClick)="showPhone()"></edz-secret-text>
<edz-bool-text [condition]="false" [text]="'启用'"></edz-bool-text>
<edz-scroll>
  <edz-search-bar [config]="searchBarConfig" [value]="searchValue" (search)="searchHandler($event)">
    <div class="extra">
      <button nz-button *appShowButton="11" (click)="clickHandler($event)">上传</button>
      <button nz-button class="ml-8">{{searchValue?.name}}</button>
    </div>
  </edz-search-bar>
  <edz-scroll-content>
    <edz-tab-set>
      <nz-tabset [nzAnimated]="false">
          <nz-tab nzTitle="Tab 1">
            12312321
            <!-- <div> -->
              kkkkk
              <edz-table [config]="tableConfig" [column]="column" [data]="tableData" [loading]="false"></edz-table>
            <!-- </div> -->
          </nz-tab>
          <nz-tab nzTitle="Tab 2">
            1233
            <a routerLink="/user/list">用户列表</a>
            <edz-scroll>
              Content of Tab Pane 2
              <edz-scroll-content>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
                <p>床前明月光</p>
              </edz-scroll-content>
            </edz-scroll>
          </nz-tab>
          <nz-tab nzTitle="Tab 3">
              <edz-table [config]="tableConfig" [column]="column" [data]="tableData" [loading]="false"></edz-table>
          </nz-tab>
      </nz-tabset>
    </edz-tab-set>
  </edz-scroll-content>
</edz-scroll>

<ng-template #date let-index="index" let-value="value">
    <nz-date-picker [(ngModel)]="value[index]"></nz-date-picker>
</ng-template>

<ng-template #ellipsis let-data>
  <div nz-typography nz-tooltip nzEllipsis [nzTooltipTitle]="data">11{{data}}</div>
</ng-template>

<div>
  <button nz-button >按钮</button>
  <button nz-button >按钮</button>
  <button nz-button >按钮</button>
</div>
