  <edz-secret-text [defualtText]="'点击显示手机号1'" [text]="text" (onClick)="showPhone()"></edz-secret-text>
  <edz-bool-text [condition]="false" [text]="'启用'"></edz-bool-text>
  <edz-search-list>
      <div class="search-form">
          <edz-search-bar [config]="searchBarConfig" [value]="searchValue" (search)="searchHandler($event)">
          </edz-search-bar>
      </div>
      <div class="data-list">
          <edz-table [config]="tableConfig" [column]="column" [data]="tableData" [loading]="false"></edz-table>
      </div>
  </edz-search-list>


<ng-template #date let-index="index" let-value="value">
    <nz-date-picker [(ngModel)]="value[index]"></nz-date-picker>
</ng-template>


<nz-date-picker [(ngModel)]="dateValue"></nz-date-picker>
